@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--primary: rgb(27, 27, 27);
	--primary-dark: rgb(15, 15, 15);
	--primary-light: rgb(39, 39, 39);
	--secondary: rgb(0, 85, 255);
	--secondary-alternate: rgb(0, 47, 255);
	--secondary-bright: rgb(103, 154, 255);
	--secondary-light: rgb(67, 130, 255);
	font-family: Poppins;
}

body {
	margin: 0;
}
